name: Shared Deploy Template

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      deploy_command:
        required: true
        type: string
      rollback_command:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        run: ${{ inputs.deploy_command }}

  rollback:
    runs-on: ubuntu-latest
    needs: deploy
    if: ${{ failure() }}
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Rollback
        run: ${{ inputs.rollback_command }}
